{{#> base}}
    {{#*inline 'mainContent'}}
      <h1>Excluir Produto</h1>

      <hr>
      
      <p>O ato de remoção de um item é <strong>irreversível</strong>,</p>
      <p>o que significa que não há chance de recuperação.</p>
      <p>Estando ciente disso,</p>
      <p>você tem certeza de que deseja excluir o produto "{{name}}"?</p>
      <a href="/products/{{id}}/delete">
        <button type="button" class="btn btn-danger">Excluir</button>
      </a>

      <hr>
      
      <a href="/list-products">Cancelar</a>
    {{/inline}}
{{/base}}